@model IEnumerable<ContactMessage>

<div class="container my-5">
    <h2 class="fw-bold bistrejd-text-blue mb-4">Примени Пораки</h2>

    <div class="card border-0 shadow-sm">
        <div class="table-responsive">
            <table class="table table-hover align-middle mb-0">
                <thead class="bg-light">
                <tr>
                    <th class="ps-4">Датум</th>
                    <th>Испраќач</th>
                    <th>Наслов</th>
                    <th>Порака</th>
                    <th class="text-end pe-4">Акции</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var msg in Model)
                {
                    <tr class="@(!msg.isRead ? "table-primary" : "")">
                        <td class="ps-4 text-muted small">@msg.CreatedAt.ToString("dd.MM.yyyy HH:mm")</td>
                        <td class="fw-bold">@msg.FullName <br><small class="text-muted fw-normal">@msg.Email</small></td>
                        <td>@msg.Subject</td>
                        <td style="max-width: 300px;" class="text-truncate">@msg.Message</td>
                        <td class="text-end pe-4">
                            <a asp-action="Details" asp-route-id="@msg.Id" class="btn btn-sm btn-outline-primary">Прочитај</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>